<?xml version="1.0" ?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- 定义宏：加载Gazebo仿真ros2_control插件 -->
    <!-- 参数：
         robot_name: 机器人名称，用于定位控制器yaml配置文件
         use_gazebo: 布尔开关，true才加载Gazebo插件，RViz离线可视化时不加载
    -->
    <xacro:macro name="load_gazebo_sim_ros2_control_plugin" params="robot_name use_gazebo">
        <!-- 条件判断：仅当 use_gazebo 为 true 时，才生成 Gazebo 插件代码 -->
        <xacro:if value="${use_gazebo}">
            <!-- Gazebo 专属标签，内部配置 Gazebo 仿真插件， 让机器人模型带上 Gazebo 的 ros2_control 插件 -->
            <gazebo>
                <!-- filename：要加载哪个插件库；name：这个插件库里面要实例化哪个插件类 -->
                <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                    <!-- 控制器参数文件路径，ros2_control从中读取关节控制器配置 -->
                    <parameters>$(find mycobot_moveit2_config)/config/${robot_name}/ros2_controllers.yaml</parameters>
                    <!-- ROS2话题重映射 -->
                    <ros>
                        <!-- 重映射：controller_manager读取的robot_description，使用全局/robot_description -->
                        <remapping>/controller_manager/robot_description:=/robot_description</remapping>
                    </ros>
                </plugin>
            </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>